* {
  font-family: 'Mukta', sans-serif;
}

body {
  padding: 60px;
  text-align: center;

}

input {
  border-radius: 4px;
  font-size: 1.3em;
  max-width: 250px;
  border: 0.5px solid grey;
}

form {
  display: flex;
  justify-content: center;
}

.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.card-image {
  box-shadow: 0 4px 4px 0 #9b4dca52;
  border-radius: 8px;
  max-width:250px;
  background-color:rgb(176 179 184 / 40%);
  text-align: center;

}

img {
  border-radius: 8px 8px 0px 0px;
  max-width: 250px;
}

.gif-title {
  padding:4px;
  padding-bottom: 8px;
  margin-bottom: 0;
}

.footer{
  position: absolute;
  top: 10px;
  right:10px;
}